{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>
<form action="{{ request.get_full_path }}" method="post">
  <table class="defaultTable">
    {{ form.as_table }}
    <tr>
      <td></td>
      <td><input type="submit" value="Login" class="standard"/></td>
    </tr>
  </table>
</form>

<p><a href="{% url registration_register %}">Create Account</a></p>
<p>You can also login with your <a href="{% google_login_url request.get_full_path %}">Google account.</a></p>
{% endblock content %}
