{% extends 'base.html' %}
{% block title %}[{{ entry.feed_ref.name }}] {{ entry.title|safe }} / newsy{% endblock %}

{% block content %}

<h1 class="show"><a href="{{ entry.url }}" target="_blank">{{ entry.title|safe }}</a></h1>

<div id="archive">
  <p class="archiveInfo">
    <a href="{% url archive.views.list cat=entry.cat_ref.category %}" class="dark">{{ entry.cat_ref.category }}</a>
    <a href="{% url archive.views.list blog=entry.feed_ref.key %}" class="light-grey">{{ entry.feed_ref.name }}</a>
  </p>

  <div class="summary">
    <p class="light-grey">Summary</p>
    <p>{{ entry.description|safe|truncatewords_html:30 }}</p>
  </div>
</div>

{% endblock %}