{% extends 'base_admin.html' %}
{% block title %}Create entry{% endblock %}

{% block css %}
<style type="text/css">
#createTable li{
 float:left;
 margin:5px 5px 5px 0;
}
#id_name{
 width:250px;
}
#id_url{
 width:450px;
}
</style>
{% endblock %}

{% block content %}
<h1>Create feed.</h1>
<a href="{% url feed.views.entry_list %}">Back to listing</a>

<form action="" method="post" enctype="multipart/form-data">
  <table class="defaultTable" id="createTable">
    {{ form.as_table }}
    <tr>
      <td></td>
      <td><input type="submit" value="{% if object %}Apply changes{% else %}Create{% endif %}" class="standard" /></td>
    </tr>
  </table>
</form>
{% endblock %}
