{% extends 'base_admin.html' %}
{% block title %}Entry details{% endblock %}

{% block content %}
<h1>Entry details</h1>

<p>
  <a href="{% url feed.views.entry_list key=object.feed_ref.key %}">Back to listing</a> | 
  <a href="{% url feed.views.entry_edit key=object.key %}">Edit</a> |
  <a href="{% url feed.views.entry_delete key=object.key %}">Delete</a> |
  <a href="{% url feed.views.train key=object.key %}">Train this entry.</a>
</p>

<ul>
  <li>Entry Title: <span class="medium bold">{{ object.title }}</span></li>
  <li>URL: <a href="{{ object.url }}" target="_blank" class="green">{{ object.url }}</a></li>
  <li>Description: {{ object.description|safe }}</li>
  <li>
    <ul style="padding:1.2em 1em 0;">
      {% for wl in object.wordlist_set %}
        <li class="bold">{{ wl.word_ref.word }} {{ wl.apcount }} / {{ wl.word_ref.apcount }}</li>
      {% endfor %}
    </ul>
  </li>
</ul>


<ul style="margin:1.2em 0;">
  <li>Feed Title: <span class="medium bold">{{ object.feed_ref.name }}</span></li>
  <li>URL: <a href="{% url feed.views.show key=object.feed_ref.key %}" class="green">{{ object.feed_ref.url }}</a></li>
</ul>

{% endblock %}
