{% extends 'base_admin.html' %}
{% block title %}Entry listing{% endblock %}

{% block content %}
<h1>Entry listing{% if feed %} | {{ feed.name }}{% endif %}</h1>

<p><a href="{% url feed.views.index %}">Back to listing</a></p>

<table class="defaultTable" style="width:100%;">
  <tr>
   <th style="width:400px;">Title</th>
   <th style="width:85px;">Link</th>
   <th></th>
   <th></th>
   <th style="width:85px;"></th>
   <th style="width:85px;"></th>
  </tr>
  {% for entry in object_list %}
    <tr>
      <td>
        <div class="grey small">{{ entry.feed_ref.name }}</div>
        <a href="{% url feed.views.entry_show key=entry.key %}" class="medium bold">{{ entry.title }}</a>
      </td>
      <td><a href="{{ entry.url }}" target="_blank">LINK</a></td>
      <td class="green">
        {% if entry.cat_ref %}
          {{ entry.cat_ref.category }}
        {% else %}
          <a href="{% url feed.views.guess key=entry.key %}" class="guessLink">Guess</a>
        {% endif %}
      </td>
      <td>
        {% if entry.is_trained %}
          <form action="{% url feed.views.untrain key=entry.key %}" method="post" class="untrainForm">
            <span class="green">Trained</span>
            <input type="submit" value="untrain" class="standard"/>
          </form>
        {% else %}
          <form action="{% url feed.views.train key=entry.key %}" method="post" class="trainForm">
            <input type="text" name="word" class="trainWord" style="width:90px;"/>
            <input type="submit" value="train!" class="standard"/>
          </form>
        {% endif %}
      </td>
      <td><a href="{% url feed.views.entry_edit key=entry.key %}">Edit</a></td>
      <td><a href="{% url feed.views.entry_delete key=entry.key %}"><img src="/img/icon_trash.gif" alt="delete" /></a></td>
    </tr>
  {% endfor %}
</table>

<div class="pagination">
  {% if has_previous %}
    <a href="{% if key %}{% url feed.views.entry_list key=key %}{% else %}{% url feed.views.entry_list %}{% endif %}?page={{ previous }}">&lt;-previous</a>
  {% endif %}
  {% if has_next %}
    <a href="{% if key %}{% url feed.views.entry_list key=key %}{% else %}{% url feed.views.entry_list %}{% endif %}?page={{ next }}">next-&gt;</a>
  {% endif %}
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
  $('form.trainForm').submit(function(){
    var $this = $(this);
    $.ajax({
      url : $this.attr('action'),
      type : 'POST',
      dataType : 'json',
      data : $this.serialize(),
      beforeSend : function(){
        var word = $this.find('input:text').val();
        $this
          .hide()
          .parent('td')
          .append('<span>training... [' + word + ']</span>');
      },
      success : function(obj){
        var msg = '';
        if (obj.category != '') {
          $this.parent('td').html('<span class="green">Trained!</span>');
        } else {
          $this.show().parent('td').append('<div>category is empty.</div>').find('span').remove();
        }
      }
    });
    return false;
  });

  $('form.untrainForm').submit(function(){
    if (! confirm('Are you sure to untrain this entry?')) {
       return false;
    }

    var $this = $(this);

    $this
      .find('input:submit').remove().end()
      .append('untraining...');

    $.ajax({
      url : $this.attr('action'),
      type : 'POST',
      dataType : 'json',
      success : function(obj){
        if (typeof obj.success != 'undefined' && obj.success == 1) {
          $this.html('<span class="green">Unrained!</span>');
        }
      }
    });
    return false;
  });

  $('a.guessLink').click(function(){
    var $this = $(this);
    $.ajax({
      url : $(this).attr('href'),
      type : 'GET',
      dataType : 'json',
      beforeSend : function(){
        $this.parent('td').append('guessing...');
      },
      success : function(obj){
        if (typeof obj != 'undefined' && obj.category != "") {
          $this.parent('td').html('<span class="green">' + obj.category + '</span>');
        }
      }
    });
    return false;
  });
});
</script>
{% endblock %}
