{% extends 'base.html' %}

{% block title %}
{{query}} / newsy
{% endblock %}

{% block content %}
 <ul id="navi">
  <li><a href="#" class="selected" onClick="return toggle(this);" id="navi-blog">blog</a></li>
  <li><a href="#" class="unselect" onClick="return toggle(this);" id="navi-web">web</a></li>
 </ul>
  
 <div id="blog" class="thing">
  <p class="medium bold">blog : {{query}}</p>
  {% for b in blogs %}
  <div class="entry">
   <div class="title"><a href="{{b.link}}">{{b.title|safe}}</a></div>
   <div class="summary">{{b.description|safe}}</div>
   <div class="url">{{b.link|truncatewords:5|safe}}</div>
  </div>
  {% endfor %}
 </div>

 <div id="web" class="thing" style="display:none;">
  <p class="medium bold">web : {{query}}</p>
  {% for s in sites %}
  <div class="entry">
   <div class="title"><a href="{{s.url}}">{{s.title|safe}}</a></div>
   <div class="summary">{{s.abstract|safe}}</div>
   <div class="url">{{s.dispurl|safe}}</div>
  </div>
  {% endfor %}
 </div>
  
 <div class="ad-bottom">
 {% if debug %}
 広告
 {% else %}
  {% if adsense %}
<script type="text/javascript"><!--
google_ad_client = "pub-8016552340374363";
/* 336x280, 作成済み 08/07/08 */
google_ad_slot = "6634255538";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
  {% endif %}
 {% endif %}
 </div>
{% endblock %}

{% block sidebar %}
 <div class="ad-side">
 {% if debug %}
 広告
 {% else %}
  {% if adsense %}
<script type="text/javascript"><!--
google_ad_client = "pub-8016552340374363";
/* 300x250, 作成済み 08/07/08 */
google_ad_slot = "7524245152";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
  {% endif %}
 {% endif %}
 </div>
 <p class="medium bold">video : {{query|escape}}</p>
 <div id="video"></div>
 
 <ul class="trends">
 <li class="medium first">trends on web</li>
 {% for t in trends %}
 <li><a href="{% url trend.views.show query=t %}">{{t}}</a></li>
 {% endfor %}
 </ul>
{% endblock %}


{% block js %}
<script type="text/javascript">
  var keywords = "{{query|escape}}";

  $(document).ready(function(){
    if(keywords == ''){ return false; }
    if(!$('#video')){ return false; }

    var url = 'http://gdata.youtube.com/feeds/videos?' +
      'vq=' + encodeURIComponent(keywords) + '&' +
      'alt=json-in-script&' +
      'max-results=10&' +
      'callback=build';
    load(url);
  });

  function toggle(e){
    var id = e.id.match('navi-(.+)')[1];
    if(this.previous_id == id){ return false; }
    this.previous_id = id;

    $('a', $('#navi')).each(function(){
      this.className = (this == e) ?'selected': 'unselect';
    });

    $('.thing').each(function(){
      if(this.id == id){
        $(this).show('fast');
      }else{
        $(this).hide('fast');
      }
    });
    return false;
  }
  function load(url){
    var script = document.createElement("script");
    script.setAttribute("type", "text/javascript");
    script.setAttribute("charset", "utf-8");
    script.setAttribute("src", url);
    document.body.appendChild(script);
  }

  function build(obj){
    var html = "";
    if (!obj || !obj.feed || !obj.feed.entry) {
      html = '<p class="bold">Not Found</p>';
    }else {
      for (var v in obj.feed.entry) {
        var video = obj.feed.entry[v];
        var thumbnail = video.media$group.media$thumbnail[1]
        html +=
          ' <a href="' + video.link[0].href + '" target="_blank">' +
          '  <img src="' + thumbnail.url + '" title="' + video.title.$t + '"/> '
          ' </a>';
      }
    }
    $('#video').append(html);
  }
</script>
{% endblock %}