<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <link rel="shortcut icon" href="http://newsy.appspot.com/favicon.ico" />
    <meta name="description" content="Newsy is a news aggregator of the most popular tech news. To save you time in just one page you can read the latest top tech news headlines." />
    <meta name="keywords" content="newsy, tech, news, tech news, top news, New York Times, NY Times, Engadget, Linfehacker, Gizmode, TechCrunch, BBC, Mashable, Google, Apple, Microsoft" />
    <title>{% block title %}{% endblock %}</title>
    {# <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}combined-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" /> #}
    <link rel="stylesheet" type="text/css" href="/css/application.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.7.1.custom.css" />
    {% block css %}{% endblock %}
    {% block extra-head %}{% endblock %}
  </head>

  <body>
    <div id="main">
      <div id="header">
        <div class="navi">
          {% if user.is_authenticated %}
            Welcome, {{ user.username }}
            {% if google_user %}<a href="{% google_logout_url "/" %}">
            {% else %}<a href="/account/logout/">{% endif %}Logout</a>
            {% if user.is_superuser %}<a href="{% url feed.views.index %}">Meta</a>{% endif %}
          {% else %}
            <a href="/account/login/">Login</a>
          {% endif %}
        </div>
        <div class="info">
          {# <a href="/"><img src="{{ MEDIA_URL }}global/img/logo.gif" alt="newsy" title="newsy" /></a> #}
          <a href="/"><img src="/img/logo.gif" alt="newsy" title="newsy" /></a>
        </div>
      </div>

      <div id="container0">
        {% block menu %}
          <p>
            <a href="{% url feed.views.create %}">Create feed</a> |
            <a href="{% url feed.views.index %}">All feeds</a> |
            <a href="{% url feed.views.entry_list %}">All entries</a> |
            <a href="{% url feed.views.category_list %}">Categories</a> |
            <a href="{% url feed.views.feature_list %}">Features</a> |
            <a href="#" id="refleshLink">Reflesh Classifier</a>
          </p>
        {% endblock %}
        {% block content %}asdf{% endblock %}
      </div>

      <div id="footer">
        <p>&copy; <a href="/">newsy</a></p>
      </div>

    </div>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>
{# <script type="text/javascript" src="{{ MEDIA_URL }}combined-{{ LANGUAGE_CODE }}.js"></script> #}
<script type="text/javascript" src="/js/jquery.tooltip.pack.js"></script>
<script type="text/javascript" src="/js/application.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('#refleshLink').click(function(){
    var $this = $(this);
    $.ajax({
      url : '/feed/refleshclassifier/',
      dataType : 'json',
      beforeSend : function(){
        $this.parent('p').append('<span>reflashing...</span>');
      },
      success : function(){
        $this.next('span').css('color', 'green').text('reflashd!');
      }
    });
    return false;
  });
});
</script>
{% block js %}{% endblock %}

  </body>
</html>
