{% extends 'base.html' %}
{% block title %}Get Gadget - newsy{% endblock %}

{% block content %}
<h1>Gadget</h1>

<p>You can easily display the latest <span class="grey bold">newsy</span> news on your site or iGoogle page by adding a Google Gadget.</p>

<div style="margin:1.6em 0;">
<script src="http://www.gmodules.com/ig/ifr?url=http://privategadget.googlecode.com/svn/trunk/gadgets/newsy.xml&amp;up_title=newsy&amp;up_perPage=10&amp;synd=open&amp;w=320&amp;h=300&amp;title=newsy+-+Google+Gadgets&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
</div>

{% endblock %}
